<style>
    a {
        color: black;
        text-decoration: none;
    }

    a:hover {
        background-color: black;
        color: white;
    }
</style>

<div align="center">
    <img src="http://ryanmeinzer.com/s/waldude-logo.png" alt="Waldude Logo" class="logo" height="250" background-color="transparent">
    <h2><%= link_to "Find", shows_path, method: :get %> or <%= link_to "Plan", plans_path, method: :get %></h2>
</div>

<h3>Looks like ya don't have any party plans - let's change that yo.</h3>